.ctaButton {
  width: 320px;
  height: 70px;
  border-radius: 4px;
  background-color: var(--primary-color);
  padding: 16px 22px;
  border: none;
}

.ctaButtonWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.ctaButtonSmall {
  width: 204px;
  height: 52px;
  padding: 11px 20px;
}

.buttonText {
  color: white;
  font-family: "Nunito", serif;
  width: 161px;
  height: 30px;
  font-weight: 700;
  font-size: 20px;
}

.buttonTextWithIcon {
  width: 208px;
  height: 38px;
  font-size: 26px;
}

.buttonIcon {
  width: 26px;
  height: 26px;
}

a {
  text-decoration: none;
}

/* TODO text-decoration nicht global definieren*/
