.footerContainer {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  height: 424px;
  width: 100vw;
  margin: 0;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 80px;
  padding-left: 80px;
}

.adress {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.2rem;
}

p {
  margin: 0;
}

.footerLeft > p {
  padding: 0;
  margin: 0;
}

.logo {
  width: 175px;
  height: 33px;
  margin-bottom: 1.25rem;
}
.footerRight {
  display: flex;
  gap: 6rem;
  padding-top: 80px;
  padding-right: 80px;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
}

.telephone {
  width: 1rem;
  height: 1rem;
}

.mail {
  width: 1rem;
  height: 0.75rem;
}

.category {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0.65rem;
}

.link {
  font-weight: 400;
  font-size: 20px;
  line-height: 54px;
  text-decoration-line: underline;
}

.contact {
  font-weight: 400;
  font-size: 20px;
  line-height: 54px;
  margin-left: 0.8rem;
}

a {
  color: inherit;
}
