.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  height: 116px;
  width: 100vw;
  margin: 0;
}

.logo {
  width: 220px;
  height: 40px;
  padding-left: 80px;
}

.account {
  display: flex;
  gap: 2rem;
  height: fit-content;
  margin: 0;
  padding-right: 80px;
}
