.featureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin: 0 7.5rem 9rem;
}

.featureBox {
  box-sizing: border-box;
  width: 364px;
  height: 270px;
  background: var(--primary-color-light);
  border-radius: 4px;
  padding: 104px 68px 80px;
}

.featureText {
  height: fit-content;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 144%;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
