.herosection {
  height: fit-content;
  padding: 3.75rem 5rem 6.6rem;
  display: flex;
  justify-content: space-between;
  height: 40.5rem;
}

.banner {
  padding-top: 60px;
  width: 655px;
  height: 648px;
}

.headline {
  padding-top: 150px;
  width: 472px;
  height: 158px;
  font-weight: 700;
  font-size: 56px;
  line-height: 141.7%;
}

.subheadline {
  width: 472px;
  height: 117px;
  font-weight: 400;
  font-size: 26px;
  line-height: 151.7%;
}
