.herosection {
  padding: 4rem 5rem 6.6rem;
  display: flex;
  justify-content: space-between;
  height: 40.5rem;
  gap: 6rem;
}

.banner {
  width: 580px;
  height: 570px;
}

.herosectionLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

.headline {
  font-family: "Nunito", serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 141.7%;
  margin: 0;
}

.subheadline {
  font-family: "Nunito", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 151.7%;
  margin: 0;
  /*width: 495px;*/
}
