.reviewContainer {
  background: var(--primary-color-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 43px;
  padding: 65px 122px;
}

.reviewHeader {
  width: 239px;
  height: 52px;
  font-family: "Nunito", serif;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: black;
  padding-left: 120px;
  padding-bottom: 28px;
  margin: 0;
}
