.reviewCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 3.3rem;
  gap: 2rem;
  width: 370px;
  /*height: 100%;*/
  background: white;
  border-radius: 4px;
}
.reviewText {
  text-align: center;
  font-family: "Nunito", serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 144%;
  color: var(--text-color);
  height: 8.6rem;
}

.reviewPersonname {
  color: var(--text-color-light);
  height: fit-content;
}

.personImage {
  width: 6.6rem;
  height: 6.6rem;
}
