.reviewContainer {
  background: var(--primary-color-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 43px;
  padding: 65px 122px;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 3.3rem;
  gap: 2rem;
  width: 370px;
  /*height: 100%;*/
  background: white;
  border-radius: 4px;
}

.reviewHeader {
  width: 239px;
  height: 52px;
  font-family: "Nunito", serif;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: black;
  padding-left: 120px;
  padding-bottom: 28px;
  margin: 0;
}

.reviewText {
  text-align: center;
  font-family: "Nunito", serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 144%;
  color: var(--text-color);
  height: 8.6rem;
}

.reviewPersonname {
  color: var(--text-color-light);
  height: fit-content;
}

.personImage {
  width: 6.6rem;
  height: 6.6rem;
}
