:root {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  /*line-height: 24px;*/
  /*font-weight: 400;*/

  --primary-color: #066aff;
  --primary-color-dark: #0052cc;
  --primary-color-light: #e8f0fd;

  --text-color: #474c54;
  --text-color-light: #8c8c8c;

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*-webkit-text-size-adjust: 100%;*/
}
